@import '._rem-func';

.flag--new,
.flag--featured {
    align-self: center;
    border-radius: rem(24px);
    color: white;
    font: {
        size: rem(11.2px);
        weight: 600;
    }
    margin: 0 rem(8px);
    max-width: rem(96px);
    padding: rem(8px);
    text-align: center;
}

.flag--featured {
    background: $veryDarkCyan;
}

.flag--new {
    background: $bg;
}