@import '._rem-func';

body{
    background: $bgColor;
}

header.b-page-header{
    background: url("../assets/images/bg-header-mobile.svg") $bg;
    height: rem(128px);
    margin-bottom: rem(64px);
    width: 100%;
    @include query-desktops {
        background: url("../assets/images/bg-header-desktop.svg") $bg;
    }
}

.container{
    margin: auto;
    width: 90%;
    @include query-desktops {
        margin: auto;
        width: 80%;
    }
}
