@import 'media-queries';
@import 'rem-func';

/* Job Offer Main Block
   ========================================================================== */

.b-job-offer {
  // align-items: center;
  background: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: rem(56px) 0;
  padding: rem(24px);
  position: relative;
  // TODO: Add box Shadow to block

  @include query-desktops {
    align-items: center;
    flex-direction: row;
    margin: rem(32px) 0;
  }
}

.b-job-offer--featured {
  border-left: rem(6.4px) solid $bg;
}

.job-offer {
  align-items: center;
  display: flex;
  // TODO : Improve the spacing of the sub infos (review HTML)
}

/* Job Offer Main Block: Content
   ========================================================================== */

.company-image img {
  height: rem(64px);
  left: rem(24px);
  position: absolute;
  top: rem(-32px);
  @include query-desktops {
    height: rem(96px);
    margin-right: rem(32px);
    position: initial;
  }
}

/*
*   Details section: START
*/

.job-offer__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: rem(24px);
  @include query-desktops {
    margin-top: 0;
  }
}

.details__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.company-name {
  color: $bg;
  font-weight: 700;
  margin: 0;
}

/*
*   Details section: END
*/

.job-title {
  font-size: rem(19.2px);
  margin: rem(19.2px) 0;
}


.b-details {
  color: grey;
  font-weight: 400;
}

/* Job Offer Main Block: Tags
   ========================================================================== */

.job-tags {
  border-top: rem(0.16px) solid grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: rem(16px) 0 0;
  @include query-desktops {
    border-top: none;
  }

  li {
    background: $bgColor;
    border-radius: rem(3.2px);
    color: $bg;
    font-weight: 600;
    list-style-type: none;
    margin: rem(8px) rem(24px) rem(8px) 0;
    padding: rem(8px);
  }
}
